# This is a basic workflow to help you get started with Actions

name: Pipeline for Test environment

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: ["test"]
  pull_request:
    branches: ["test"]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a single command using the runners shell
      - name: Build the docker image
        run: docker image build -t webapp:latest .

      - name: Push the image to Docker Registry
        run: docker push tomgfr/myrepo

  # deploy:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name:
